:root {
  --color-1: #fcb43a;
  --color-2: #27201e;
  --color-3: #f1f1f1;
  --color-4: #ffffffc9;
  --color-5: #90a72b;
  --color-6: #90a72bef;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

body {
  font-family: Helvetica;
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: var(--color-2);
  background-color: var(--color-3);
}

h1,
h2,
h3 {

  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-2);
}

span {
  font-weight: bold;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ------------------------------------- */

header {
  background-color: var(--color-1);
  padding: 20px;
}

.div_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.div_social a {
  font-size: x-large;
  padding-left: 20px;
}

/* ------------------------------------- */

.nav_main_menu {
  background-color: var(--color-2);
  padding: 30px 10px;
}

.nav_main_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.nav_main_menu a {
  color: var(--color-3);
}

.nav_main_menu i {
  color: var(--color-5);
}

/* ------------------------------------- */
.div_parallax {
  background-image: url("/Enjoy-In-English-Club/imagenes/4.png");
  /* background-image: url("/imagenes/4.png"); */
  height: 350px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

main {
  position: absolute;
  bottom: 0;
  left: 5%;
  /* transform: translate(-50%, 0); */
  border-radius: 0px 40px 0px 0px;
  text-align: center;
  padding: 30px;
  color: var(--color-2);
  background-color: var(--color-6);
  width: 800px;
}

main i {
  font-size: xx-large;
}

/* ------------------------------------- */

.subtitle {
  text-align: center;
  padding: 30px;
  border-top: var(--color-1) 30px solid;
}

.subtitle i {
  color: var(--color-5);
}

/* ------------------------------------- */

.section_beneficios {
  background-color: var(--color-2);
  padding: 50px 10px;
}

.div_beneficios {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.section_beneficios article {
  background-color: var(--color-3);
  padding: 20px;
  width: 280px;
  height: 250px;
  text-align: center;
  border-radius: 0px 30px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.300);
}

.div_beneficios i {
  color: var(--color-5);
  font-size: xx-large;
}

/* ------------------------------------- */

.section_infoextra {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_line_yellow {
  background-color: var(--color-1);
  height: 30px;
}

.div_articles {
  padding: 30px;
  display: flex;
}

.div_articles article {
  padding: 20px;
  text-align: center;
}

.article_infoextra {
  background-color: var(--color-2);
  color: var(--color-3);
  box-shadow: 9px 10px 0px rgba(0, 0, 0, 0.300);
  border-radius: 0px 30px 0px 30px;
}

.div_articles figure {
  width: 300px;
}

/* ------------------------------------- */

.section_preg_frec {
  background-color: var(--color-2);
  padding: 50px 0px;
}

.section_preg_frec article {
  width: 800px;
  border-radius: 0px 30px 0px 30px;
  overflow: hidden;
  box-shadow: 9px 10px 1px rgba(0, 0, 0, 0.300);
}

.div_sumary {
  padding: 15px;
  background-color: var(--color-3);
  color: var(--color-2);
  border-bottom: 1px var(--color-2) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.div_sumary i {
  color: var(--color-5);
  font-size: xx-large;
}

.ul_detail {
  display: none;
  padding: 10px 20px 20px 20px;
  list-style: none;
  background-color: var(--color-2);
  color: var(--color-1);
}

/* ------------------------------------- */

footer {
  background-color: var(--color-2);
  padding: 30px;
  text-align: center;
  color: var(--color-3);
}