:root {
  --color-1: #fcb43a;
  --color-2: #27201e;
  --color-3: #f1f1f1;
  --color-4: #ffffffc9;
  --color-5: #90a72b;
  --color-6: #abc924e3;
  --color-7: #27201ee3;
}

/* ------------------------------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ancho {
  max-width: 1200px;
  margin: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fredoka", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  color: var(--color-2);
  background-color: var(--color-3);
}

button {
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--color-5);
  transition: all .15s linear;
}

span {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

figure {
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  transition: all .15s linear;
}

figure img:hover {
  transform: scale(1.02);
}

h1,
h2,
h3 {

  font-family: "Nunito", sans-serif;
  font-weight: 800;
  transition: all .15s linear;
}

ul {
  list-style: none;
  padding: 0;
}

i {
  font-size: xx-large;
  transition: all .15s linear;
}

figure {
  transition: all .15s linear;
}

/* ------------------------------------- */

header {
  background-color: var(--color-3);
  padding: clamp(5px, 2vh, 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div_headlogo {
  display: flex;
  align-items: center;
}

.div_headlogo h2 {
  font-size: xx-large;
}

.figure_logo {
  width: clamp(50px, 20vh, 200px);
}

.div_headsocial {
  display: flex;
  gap: 1rem;
}

.div_headsocial a:hover {
  color: var(--color-2);
}

/* ------------------------------------- */

.div_menu {
  background-color: var(--color-2);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.nav_main_menu {
  /* background-color: var(--color-7); */
  padding: clamp(5px, 4vh, 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.div_btn_bars {
  display: none;
}

.nav_main_menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
}

.nav_main_menu a {
  color: var(--color-3);
}

.nav_main_menu i {
  color: var(--color-1);
  font-size: large;
}

.nav_main_menu a:hover {
  color: var(--color-1);
}

/* ------------------------------------- */

.div_main_parallax {
  position: relative;
  background-color: var(--color-2);
}

.div_parallax {
  background-image: url("/Enjoy-In-English-Club/files/parallax.png");
  /* background-image: url("/files/parallax.png"); */
  height: clamp(100px, 60vh, 480px);
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(.75);
  border-radius: 0px 60px 0px 0px;
}

.figure_logo_big {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: clamp(80px, 50vh, 480px);
}

.figure_logo_big:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.main_index {
  position: absolute;
  bottom: 0;
  left: 10%;
  /* transform: translate(-50%, 0); */
  border-radius: 20px 20px 0 0;
  text-align: center;
  padding: clamp(20px, 4vh, 40px);
  color: var(--color-2);
  background-color: var(--color-6);
  width: 800px;
  text-align: left;
}


.main_profes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  text-align: center;
  padding: clamp(20px, 4vh, 40px);
  color: var(--color-2);
  background-color: var(--color-6);
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.main_profes figure {
  width: clamp(80px, 35vh, 250px);
  height: clamp(80px, 35vh, 250px);
  border-radius: 100%;
  background-color: var(--color-2);
}

.div_main_profes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
  text-align: left;
}

/* ------------------------------------- */

.subtitle {
  text-align: center;
  padding: clamp(5px, 4vh, 40px);
  border-top: var(--color-1) 4vh solid;
}

.subtitle i {
  color: var(--color-5);
}

/* ------------------------------------- */

.section_beneficios {
  background-color: var(--color-2);
  padding: clamp(5px, 4vh, 40px);
}

.div_beneficios {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}

.section_beneficios article {
  background-color: var(--color-3);
  padding: clamp(10px, 3vh, 30px);
  width: 280px;
  height: 250px;
  text-align: center;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .15s linear;
}

.div_beneficios i {
  color: var(--color-5);
}

.section_beneficios article:hover {
  transform: scale(1.02);
}

/* ------------------------------------- */

.section_infoextralogo {
  background-color: var(--color-2);
  padding: clamp(10px, 4vh, 40px);
}

.div_carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  position: relative;
  color: var(--color-5);
}

.div_carousel::before,
.div_carousel::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  z-index: 2;
}

.div_carousel::before {
  left: 0;
  background: linear-gradient(to right, var(--color-2), transparent);
}

.div_carousel::after {
  right: 0;
  background: linear-gradient(to left, var(--color-2), transparent);
}

.div_carousel .carousel-track {
  display: flex;
  animation: scroll 35s linear infinite;
}

.carousel__item {
  min-width: 150px;
  text-align: center;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

/* ------------------------------------- */

.section_infoextra {
  background-color: var(--color-1);
}

.div_articles {
  padding: clamp(10px, 4vh, 40px);
  display: flex;
  justify-content: space-evenly;
}

.div_articles article {
  padding: clamp(10px, 6vh, 60px);
  /* text-align: center; */
  transition: all .15s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article_infoextra {
  background-color: var(--color-2);
  color: var(--color-3);
  border-radius: 20px;
  /* width: 50%; */
}

.div_articles article:hover {
  transform: scale(1.02);
}

.div_articles figure {
  width: 100%;
}

.div_articles img {
  border-radius: 0px 30px 30px 30px;
}

/* ------------------------------------- */

.section_preg_frec {
  background-color: var(--color-2);
  padding: clamp(5px, 4vh, 40px);
}

.section_preg_frec article {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.div_sumary {
  padding: clamp(5px, 3vh, 30px);
  background-color: var(--color-1);
  color: var(--color-2);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all .15s linear;
  border-radius: 15px;
}

.div_sumary i {
  color: var(--color-3);
}

.div_sumary:hover,
.div_sumary:hover i {
  transform: scale(1.02);
  color: var(--color-2);
}

.ul_detail {
  display: none;
  padding: clamp(10px, 3vh, 30px);
  list-style: none;
  background-color: var(--color-2);
  color: var(--color-3);
}

.ul_detail li {
  text-align: left;
  display: flex;
  justify-content: center;
}

.figure_certific {
  width: clamp(80px, 45vh, 350px);
  /* overflow: hidden; */
  color: var(--color-1);
}

.figure_certific img {
  border-radius: 20px;
}

.figure_certific:hover {
  transform: scale(1.01);
  color: var(--color-3);
}

.li_detail_certific {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: start;
  gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
}

/* ------------------------------------- */

.a_hotmart {
  text-decoration: underline;
}

.a_hotmart:hover {
  color: var(--color-5);
}

/* ------------------------------------- */

.div_btnup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.div_btnup a {
  color: var(--color-6);
  font-size: xx-large;
}

footer {
  background-color: var(--color-2);
  padding: 30px;
  text-align: center;
  color: var(--color-3);
}

/* ------------------------------------- */

.section_acerca_profesor {
  background-color: var(--color-2);
  padding: clamp(10px, 4vh, 40px);
  color: var(--color-3);
}