@media screen and (max-width: 872px) {

  header {
    padding: 1vh 3vh;
  }

  .figure_logo {
    width: 15vh;
  }

  .div_headlogo h2 {
    display: none;
  }

  .div_headsocial {
    font-size: x-large;
  }

  /* ------------------------------------- */

  .div_btn_bars {
    display: block;
    width: 100%;
    padding: clamp(5px, 2vh, 20px);
    text-align: center;
  }

  .btn_bars {
    color: var(--color-3);
  }

  .btn_bars:hover {
    color: var(--color-1);
  }

  .div_btn_bars i {
    color: var(--color-1);
    font-size: large;
  }

  .nav_main_menu {
    padding: 2vh;
    display: none;
    background-color: var(--color-7);
    position: absolute;
    width: 100%;
  }

  .nav_main_menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }

  /* ------------------------------------- */

  .div_parallax {
    height: 30vh;
  }

  .main_index {
    position: relative;
    bottom: 0;
    left: 0;
    /* transform: translate(-50%, 0); */
    border-radius: 0px;
    text-align: left;
    padding: 3vh;
    width: auto;
  }

  .div_main_parallax figure {
    width: clamp(80px, 35vh, 550px);
  }

  .main_profes {
    position: relative;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0px;
    padding: 3vh;
    width: auto;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .div_main_profes {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    text-align: left;
  }

  /* ------------------------------------- */

  .div_beneficios {
    /* flex-direction: column; */
    gap: 3vh;
  }

  /* .div_beneficios article {
    padding: 2vh;
    gap: 2vh;
  } */

  /* ------------------------------------- */

  .div_articles {
    flex-direction: column;
  }

  /* ------------------------------------- */
  /* INFO.HTML */
  /* ------------------------------------- */


  .div_infoextra_img {}

  .iframe_infoextra {
    width: clamp(150px, 50vh, 550px);
  }
}